.home-page {
  padding: 60px 100px;
  text-align: center;
  min-height: 400px;
}

.home-page h1 {
  font-size: 48px;
  color: #474747;
  margin-bottom: 20px;
}

.home-page p {
  font-size: 18px;
  color: #8F8F8F;
}